$color-blue: #004ef9;
$color-main: rgb(5, 12, 25, 1);
$color-background: #f8fbfb;
$font-color: rgb(213, 215, 219, 1);


body {

  .container {
    .aside__perfil {
      background-color: $color-main;
      color: $color-background;
      &--portrait {
        border: 1rem solid #1c2735;
      }
      &--title {
        color: $font-color;
      }
      &--media {
        .nav-link {
          color: $color-background;
          .anchor {
            color: $color-background;
          }
        }
      }
      &--menu {       
        .nav-link {
          color: $font-color;
          .anchor {
            color: $font-color;
          }
        }
      }

      .darkmode{    
        
        h1 {
    
          color:$color-background;
          
        }
      }

    }

    .sections {
      background-color: $color-background;

      .header {
        background-color: #efe7e7;
        color: $color-main;
        &__title {
          &--h1 {
            border-right: 0.15em solid $color-main;

          }
          &--h2 {     
            border-right: 0.15em solid $color-main;
            }
          }
        }
      
      .container__sections {
        .who_am_i {
          &__title::after {
            color: $color-blue;
          }

          &__skills {
            .skills__container {
              .skills__cards {
                .skills__card {
                  box-shadow: 1px 1px 15px $color-main;
                }
              }
            }
          }
        }
        .projects {
          &__container {          
            &--project {
              box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);              
              .project__title {
                border-bottom: 1px solid $color-blue;
              }

              .project__btns {
                .btn__demo {
                  border: 1px solid $color-blue;
                  background-color: $color-background;
                  color: $color-blue;                
                }
                .btn__demo:hover {
                    background-color: $color-blue;
                    color: $color-background;
                    border: 1px solid $color-blue;
                  }
                .btn__git {
                    background-color: $color-blue;
                    color: $color-background;
                    border: 1px solid $color-main;
                  }
                  .btn__git:hover {
                    background-color: $color-background;
                    color: $color-blue;
                    border: 1px solid $color-main;
                    transform: scale(1.01) rotate(1deg);
                  }
              }
            }
          }
        }
        .contact {

          &__title {

            color: $color-main;
          }
          &__title::after {

            color: $color-blue;
          }
          &__container {

            .contact__form {
              border: 1px solid #000;
              .input-container {
               
                .input {
                  background-color: $color-background;
                  border-bottom: 1px solid #000;
                }
              }
              .button {

                background-color: $color-blue;
                color: $color-background;
                border: 1px solid $color-background;
              }
              .button:hover {
                background-color: $color-background;
                color: $color-blue;
                border: 1px solid $color-blue;
              }
            }
          }
        }
        .footer__container{
          background-color: $color-main;
          color: $color-background;
          border-top: 2px solid $color-main;
        }
      }
    }
    
    .title {

      color: $color-main;
    }
    .title::after {
      color: $color-blue;
    }
  }
}