body .container .aside__perfil {
  background-color: #2f3336;
  color: #f8fbfb;
}
body .container .aside__perfil--portrait {
  border: 1rem solid #1c2735;
}
body .container .aside__perfil--title {
  color: rgb(213, 215, 219);
}
body .container .aside__perfil--media .nav-link {
  color: #f8fbfb;
}
body .container .aside__perfil--media .nav-link .anchor {
  color: #f8fbfb;
}
body .container .aside__perfil--menu .nav-link {
  color: rgb(213, 215, 219);
}
body .container .aside__perfil--menu .nav-link .anchor {
  color: rgb(213, 215, 219);
}
body .container .aside__perfil .darkmode h1 {
  color: #f8fbfb;
}
body .container .sections {
  background-color: #f8fbfb;
}
body .container .sections .header {
  background-color: #9e617d;
  color: #f8fbfb;
}
body .container .sections .header__title--h1 {
  border-right: 0.15em solid #2f3336;
}
body .container .sections .header__title--h2 {
  border-right: 0.15em solid #2f3336;
}
body .container .sections .container__sections .who_am_i__title::after {
  color: #004ef9;
}
body .container .sections .container__sections .who_am_i__skills .skills__container .skills__cards .skills__card {
  box-shadow: 1px 1px 15px rgba(255, 136, 187, 0.7333333333);
}
body .container .sections .container__sections .who_am_i__skills .skills__container .skills__cards .skills__card:hover {
  border: 1px solid #000;
}
body .container .sections .container__sections .projects__container--project {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
body .container .sections .container__sections .projects__container--project .separator-line {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
body .container .sections .container__sections .projects__container--project .project__btns .btn__demo {
  border: 1px solid #004ef9;
  background-color: #f8fbfb;
  color: #004ef9;
}
body .container .sections .container__sections .projects__container--project .project__btns .btn__demo:hover {
  background-color: #004ef9;
  color: #f8fbfb;
  border: 1px solid #004ef9;
}
body .container .sections .container__sections .projects__container--project .project__btns .btn__git {
  background-color: #004ef9;
  color: #f8fbfb;
  border: 1px solid #2f3336;
}
body .container .sections .container__sections .projects__container--project .project__btns .btn__git:hover {
  background-color: #f8fbfb;
  color: #004ef9;
  border: 1px solid #2f3336;
  transform: scale(1.01) rotate(1deg);
}
body .container .sections .container__sections .contact__title {
  color: #2f3336;
}
body .container .sections .container__sections .contact__title::after {
  color: #004ef9;
}
body .container .sections .container__sections .contact__container .contact__form {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
body .container .sections .container__sections .contact__container .contact__form .input-container .input {
  background-color: #f8fbfb;
  border-bottom: 1px solid #000;
}
body .container .sections .container__sections .footer__container {
  background-color: #2f3336;
  color: #f8fbfb;
  border-top: 2px solid #2f3336;
}
body .container .title {
  color: #2f3336;
}
body .container .title::after {
  color: #004ef9;
}
body .button {
  background-color: #004ef9;
  color: #f8fbfb;
  border: 1px solid #f8fbfb;
}
body .button:hover {
  background-color: #f8fbfb;
  color: #004ef9;
  border: 1px solid #004ef9;
}
body .menu__button .project__svg {
  border: 1rem solid #2f3336;
  background: #9e617d;
  border-radius: 50%;
}/*# sourceMappingURL=lightmode.css.map */