$color-blue: #004ef9;
$color-main: #f8fbfb;
$color-background: #2f3336;
$font-color: #000;


body {
  color: #E5E5FE;
  .container {
    .aside__perfil {
      background-color: $color-main;
      color: $color-background;
      &--portrait {
        background-color:#1c2735 ;
        border: 1rem solid #1c2735;
      }
      &--title {
        color: $font-color;
      }
      &--media {
        .nav-link {
          color: $color-main;
          .anchor {
            color: $color-background;
          }
        }
      }
      &--menu {       
        .nav-link {
          color: $font-color;
          .anchor {
            color: $font-color;
          }
        }
      }
      .darkmode{    
        
        h1 {
    
          color:$color-background;
          
        }
      }
    }

    .sections {
      background-color: $color-background;

      .header {
        background-color: #f8b8;
        color: $color-main;
        &__title {
          &--h1 {
            border-right: 0.15em solid $color-main;

          }
          &--h2 {     
            border-right: 0.15em solid $color-main;
          }
        }
      }
      
      .container__sections {
        color: $color-main;
        .who_am_i {
          color: $color-main;
          &__skills {
            .skills__container {
              .skills__cards {
                .skills__card {
                  box-shadow: 1px 1px 15px #f8bb;
                }
                .skills__card:hover{
                  border: 1px solid #fff;
                }
              }
            }
          }
        }
        .projects {

          &__container {          
            &--project {
              box-shadow: 1px 1px 15px #f8bb;              
              .project__title {

              }
              .separator-line{
                border:1px solid #f8f8
              }
              .project__btns {
                .btn__demo {
                  border: 1px solid $color-main;
                  background-color: $color-background;
                  color: $color-main; 
                  transition: all 1s;               
                }
                .btn__demo:hover {
                    background-color: #fff;
                    color: #000;
                    border: 1px solid $color-main;
                  }
                .btn__git {
                    background-color: $color-background;
                    color: $color-main;
                    border: 1px solid $color-main;
                    transition: all 1s;
                  }
                  .btn__git:hover {
                    background-color: $color-main;
                    color: $color-background;
                    border: 1px solid $color-main;
                    transform: scale(1.01) rotate(1deg);
                  }
              }

            }
            &--project:hover{
              border: 1px solid #fff;   
            }
          }
        }
        .contact {

          &__title {

            color: $color-main;
          }
          &__title::after {

            color: $color-blue;
          }
          &__container {

            .contact__form {
              box-shadow: 1px 1px 15px #f8bb;   
              .input-container {
               color: #fff;
                .input {
                  background-color: $color-background;
                  border-bottom: 1px solid #f8b8;
                }
              }
              
            }
          }
        }
        .footer__container{
          background-color: $color-main;
          color: $color-background;
          border-top: 2px solid $color-main;
        }
        
      }
    }
    .title {

      color: $color-main;
    }
    .title::after {
      color: $color-blue;
    }
  }
  .button {
    background-color: $color-background;
    color: $color-main;
    border: 1px solid #f8f8;
    transition: all 1s;
  }
  .button:hover {
    background-color: $color-main;
    color: $color-background;
    border: 1px solid $color-main;
  }
  .menu__button{
    .project__svg{
      border: 1rem solid rgb(255 136 187 / 73%);

      border-radius: 50%;
    }
  }
}