$color-main: rgb(5, 12, 25, 1);
$color-background: #f8fbfb;
$font-ubuntu: ubuntu;
$font-outfit: Outfit;
$font-color: rgb(213, 215, 219, 1);
$text-align: center;
$p-size: 1.25rem;
$line-height:1.75rem;
$font-size-title:5rem;
$font-size-title-sm: 2rem;
body{
    margin: 0;
    padding: 0;
    font-family: $font-outfit;
    .container{ 
        display: flex;
        .aside__perfil{
            width: 15%;
/*             position: fixed; */
            height: 100vh;
            background-color: $color-main;
            color: white;
            padding: 30px 20px;
            text-align:$text-align;
            &--portrait{
                max-width: 9rem;
                border-radius: 6rem;
                border:1rem solid #1c2735;
            }
            &--title{
                font-size: 2rem;
                font-family: $font-outfit;
                font-weight: 600;
                line-height: 2rem;
                color: $font-color;
            }
            &--media{
                display: flex;
                justify-content: center;
                gap: 2rem;
                list-style: none;;
                margin-bottom: 5rem;
                .nav-link{
                    color:white;
                    font-size: 1.5rem;
                    border:0.8rem solid #1c2735;
                    border-radius: 6rem;
                    .anchor{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
            &--menu{
                text-justify: auto  ;
                list-style: none;
                .nav-link{
                    font-size: 1.5rem;
                    font-family: $font-outfit;
                    text-align: left;
                    color:$font-color;
                    margin-top: 2rem;
                    .anchor{
                        text-decoration: none;
                        color: $font-color;
                        .mr-5{
                            margin-right:2rem;
                        }
                    }
                }
            } 
        }

        .sections{
            flex-direction: column;
            width: 85%;
            background-color: $color-background;
            height: 100%;
            .header{
                height: 100vh;
                background-color: $font-color;
                display: grid;
                font-family:$font-ubuntu;
                color: $color-main;
                &__title{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    &--h1{
                        font-size: $font-size-title;
                        overflow: hidden;
                        border-right: .15em solid $color-main;
                        white-space: nowrap;
                        margin: 0 auto;
                        letter-spacing: .15em;
                        animation:
                            typing-h1 2.5s steps(30, end),
                            blink-caret .75s step-end infinite;
    
                        @keyframes typing-h1 {
                            from { width: 0 }
                            to { width: 50% }
                        }
                    }
                    &--h2{
                        font-size: $font-size-title-sm;
                        overflow: hidden;
                        border-right: .15em solid $color-main;
                        white-space: nowrap;
                        margin: 10px auto;
                        letter-spacing: .15em;
                        animation: typing-h2 2.5s steps(30, end), blink-caret .75s step-end infinite;
    
                        @keyframes typing-h2 {
                            from { width: 0 }
                            to { width: 30% }
                        /* animation-delay: 2.5s; */
                        }    
                    }
                    
                }
            }
            .who_am_i{
                padding: 0 4rem;
                margin: 4rem 0;
                &__title{

                    font-size: $font-size-title;
                    padding: .5rem 0;
                    border-bottom: 2px solid $color-main;
                }
                &__p{
                    text-align: center;
                    font-size: $p-size;
                    line-height: $line-height;
                }
                &__portrait{
                    display: flex;
                    justify-content: space-around;
                    padding: 0 4rem;
                    &--image{

                    }
                    .article{
                        padding-left: 6rem;
                        &__title{
                            font-size: $font-size-title-sm;
                            line-height: $line-height;
                        }
                        &__p{
                            font-size: $p-size;
                            line-height: $line-height;
                        }
                    }
                }
                &__skills{
                    
                    .skills__container{
                        display: flex;
                        justify-content: space-around;
                        padding: 0 6rem;
                        &--p{
                            width: 40rem;
                        }
                        .skills__cards{
                            display: flex;
                            justify-content: space-around;
                            flex-wrap: wrap;
                            gap:2rem;
                            .skills__card{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                text-align: center;
                                width: 6rem;
                                height: 7rem;
                                padding: 0.5rem;
                                box-shadow: 1px 1px 15px $color-main;
                                &--svg{
                                    width: 5rem;
                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                }
            }
            .projects{
                margin:4rem 0;
                padding:0 4rem;
                height: 100%;
                &__title{
                    font-size: $font-size-title;
                }
                &__container{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap:1.5rem;
                    &--project{
                        width: 25rem;
                        height: 35rem;
                        border: 1px solid #000;
                        text-align: center;
                        padding: 2rem;
                        .project__image{
                            width: 100%;
                        }
                        .project__title{
                            font-size: $font-size-title-sm;
                        }
                        .project__comment{
                            text-align: justify;
                            font-size: $p-size;
                        }
                        .project__skills{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap:1.5rem;
                            margin: 1rem 0;
                            .project__svg{
                                width: 4rem;
                            }
                        }
                        .project__btns{
                            .btn__demo{
                                padding: .8rem .5rem;
                                margin-right: .5rem;
                                border: 1px solid #1849b5;
                                background-color: $color-background;
                                color:#1849b5;
                            }
                            .btn__git{
                                padding: .8rem .5rem;
                                margin-left: .5rem;
                                border: 1px solid #000;
                                border: 1px solid $color-background;
                                background-color: #1849b5;
                                color:$color-background;
                            }
                        }
                    }
                }
            }
            .contact{
                margin:4rem 0;
                padding:0 4rem;
                height: 100%;
                &__title{
                    font-size: $font-size-title;
                }
                &__container{
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    gap:1.5rem;
                    .contact__email{
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        .email--image{
                            .email__svg{
                                width: 5rem;
                            }
                        }
                        .email--title{
                            font-size: $p-size;
                        }
                    }
                    .contact__form{
                        width: 40rem;
                        text-align: center;
                        border-radius: 5px;
                        box-shadow: 1px 1px 15px $color-main;
                        .input-container{
                            width: 100%;
                            height: 5rem;
                            margin: 10px 0;
                            .input{
                                height: 1.5rem;
                                width: 95%;
                                font-size: 1rem;
                                padding: 10px;
                                padding-left: 0rem;
                                background-color: white;
                                border-radius: 5px;
                                border: 1px solid rgb(5, 12, 25);
                                margin: 10px;
                            }
                            .input-name{
                                background-image: url(../images/perfil/user-regular.svg);
                                background-repeat: no-repeat;
                                background-position: 565px;
                            }
                            .input-email{
                                background-image: url(../images/perfil/mail-regular.svg);
                                background-repeat: no-repeat;
                                background-position: 565px;
                            }
                            .input-message{
                                background-image: url(../images/perfil/sticky-note-solid.svg);
                                background-repeat: no-repeat;
                                background-position: 565px;
                            }
                        }
                        .button{
                            width: 20rem;
                            padding: 15px;
                            background-color: #1849b5;
                            color: white;
                            border:1px solid white;
                            cursor: pointer;
                            border-radius: 10px;
                            transition: .5s all;
                            font-weight: bold;
                            font-size: 18px;
                        }
                        .button:hover{
                            background-color: white;
                            color: #1849b5;
                            border:1px solid #1849b5;
                            transform: scale(1.01) rotate(1deg);
                        }
                    }
                }
            }
        }
    }
}